// Config Map
// Specify in JSON format the local interface you want to use this program on (iface) (you can get this by running "ip addr") 
// and the ip_mask of the IP addresses on that network (you can get this by running "sudo arp-scan -l" and looking at any of the addresses)
// and the cache_timeout - number of days the MAC->IP entry in the cache is treated as valid

{
    //"iface": ["enp0s3"],
    //"ip_mask": ["10.0.2.*"],
    "iface": ["wlp5s0"],
    "ip_mask": ["192.168.0.*"],
    "cache_timeout": ["30"]
}

