// Config Map
// Specify in JSON format the local interface you want to use this program on (iface) (you can get this by running "ip addr") 
// and the prefix (first three sections) of the IP addresses on that network (prefix) (you can get this by running "sudo arp-scan -l" and looking at any of the addresses)


{
    "iface": ["wlp5s0"],
    "prefix": ["192.168.0."]
}

